.header-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    border: 1px solid transparent;
    padding: 0.7rem 0.7rem;
    box-sizing: border-box;
    border-radius: 0.4rem;
    background-color: rgb(28, 120, 141);
    color: white;
    font-weight: 500;
    font-family: sans-serif;
}

.header-container>a {
    cursor: pointer;
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-family: sans-serif;
}

.right-container {
    display: flex;
    gap: 0.5rem;
}

.right-container>a {
    cursor: pointer;
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-family: sans-serif;
}